.main {
	display: flex;
}

.buy_token {
	cursor: pointer;
	color: black;
    border-color: #6c757d;
    font-weight: 400;
    text-align: center;
    border: 1px solid #6c757d;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
}